/*=====GENERAL=====*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFF;
    font-weight: 400;
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
} 

a {
    text-decoration: none;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
} 

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .container{
    width: 1158px;
    padding: 0 15px; 
  }
}

/*=====HEADER MOBILE STYLES=====*/
.header {
    padding: 17.5px 0;
    background-color: #FFF;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo span {
    color: #2E2F42;
}

.header-menu {
    display: none;
}

.header-address {
    display: none;
}

.mobile-menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

/*=====HEADER TABLET=====*/
@media screen and (min-width: 768px) {
    .header-logo {
        margin-right: 120px;
    }

    .header-menu {
        display: flex;
        gap: 40px;
    }

    .header-link {
        position: relative;
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-link.studio {
        color: #404BBF;
    }

    .header-link.studio::after {
        display: flex;
        position: absolute;
        background-color: #404BBF;
        border-radius: 2px;
        content: "";
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -1px;
        transition: width 0.35s;
    }
    
    .header-link:hover,
    .header-link:focus {
        color: #404BBF;
    }
    
    .header-link:hover::after {
        width: 100%;
    }
    
    .header-address{
        font-style: normal;
        display: flex;
        align-items: center;
    }
    
    .adress-menu {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
       
    .address-link {
        color: #434455;
        font-size: 12px;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: #404bbf;
    }
    .mobile-menu-btn {
        display: none;
    }
}

/*=====HEADER DESKTOP=====*/
@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .adress-menu {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/*=====EFFECT SOLUTIONS MOBILE=====*/
.main-solutions {
    background-color: #2E2F42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ),
        url(../images/banner/dark-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    padding: 72px 0;
    margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
    (min-resolution: 2dppx) and (max-width: 767px),
    (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .main-solutions {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)
            ), 
            url(../images/banner/dark-bg-mobile@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .main-solutions { 
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ),
        url(../images/banner/dark-bg-tablet.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
    .main-solutions {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)
            ), 
            url(../images/banner/dark-bg-tablet@2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .main-solutions { 
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), 
        url(../images/banner/dark-bg-desktop.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
    (min-resolution: 192dpi) and (min-width: 1158px),
    (min-resolution: 2dppx) and (min-width: 1158px) {
    .main-solutions {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)
            ),
            url(../images/banner/dark-bg-desktop@2x.jpg);
    }
}

.solutions-title {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    max-width: 288px;
    margin: 0 auto;
    margin-bottom: 72px;
    text-align: center;
}

.solutions-btn {
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-btn:hover,
.solutions-btn:focus {
    background-color: #404bbf;
}

/*=====EFFECT SOLUTIONS TABLET=====*/
@media screen and (min-width: 768px) {
    .main-solutions {
        max-width: 768px;
        padding: 112px 0;
    }

    .solutions-title {
        font-size: 56px;
        max-width: 496px;
        margin-bottom: 36px;
    }

    .solutions-title br {
        display: none;
    }
}
  
/*=====EFFECT SOLUTIONS DESKTOP=====*/
@media screen and (min-width: 1158px) {
    .main-solutions {
        max-width: 1440px;
        padding: 188px 0;
    }

    .solutions-title {
        margin-bottom: 48px;
    }
}

/*=====BENEFITS MOBILE=====*/
.main-benefits {
    padding-top: 96px;
    padding-bottom: 96px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.benefits-item-icon {
    display: none;
}

.benefits-subtitle {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.benefits-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*=====BENEFITS TABLET=====*/
@media screen and (min-width: 768px) {
    .benefits-list {
        display: flex;
        flex-direction: row;
        gap: 24px;
        row-gap: 72px;
    }

    .benefits-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .benefits-subtitle {
        text-align: left;
    }
}

/*=====BENEFITS DESKTOP=====*/
@media screen and (min-width: 1158px) {
    .main-benefits {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .benefits-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }

    .benefits-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .benefits-item-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        background-color: #F4F4FD;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        margin-bottom: 8px;
    }
}
/*=====TEAM MOBILE=====*/
.main-team {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.team-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-desc {
    background-color: #FFF;
    text-align: center;
    padding: 32px 0;
}

.team-subtitle {
    color: #2E2F42; 
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
    
.team-media-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-media-item {
    width: 40px;
    height: 40px;
}

.team-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-media-link:hover {
    background-color: #404bbf;
}

.team-media-link:focus {
    background-color: #404bbf;
}

.team-media-icon {
    fill:  #f4f4fd;
}

/*=====TEAM TABLET=====*/
@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 64px;
    }
    .team-item {
        max-width: 264px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/*=====TEAM DESKTOP=====*/
@media screen and (min-width: 1158px) {
    .main-team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/*=====PORTFOLIO MOBILE=====*/
.main-portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
}

.portfolio-item {
    background-color: #FFF;
    border: 1px solid #F4F4FD;
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-desc {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0%);
}

.portfolio-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    position: absolute;
    padding: 8px;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*=====PORTFOLIO TABLET=====*/
@media screen and (min-width: 768px) {
    .portfolio-list {
        column-gap: 24px;
        row-gap: 72px;
    }
 
    .portfolio-item {
        flex-basis: calc((100% - 24px) / 2);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/*=====PORTFOLIO DECKTOP=====*/
@media screen and (min-width: 1158px) {
    .main-portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .portfolio-item {
        flex-basis: calc((100% - 2 * 24px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/*=====FOOTER MOBILE=====*/
.footer {
    background-color: #2E2F42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px;
}

.footer-logo {
    color: #4D5AE5;   
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-bottom: 16px;
}

.footer-logo-span {
    color: #F4F4FD;
}

.footer-title {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 288px;
}

.soc-media {
    display: block;
    margin: 0 auto;
}

.soc-media-title {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.soc-media-list {
   display: flex;
   gap: 16px;
}

.soc-media-icon {
    fill: #f4f4fd;
}

.soc-media-item {
    width: 40px;
    height: 40px;
}
    
.soc-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.footer .soc-media-link:hover,
.footer .soc-media-link:focus {
    background-color: #31D0AA;
}

.subscribe-title {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.subscribe-email {    
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    color:#ffffff;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15))
}

.subscribe-email::placeholder {
    color: #ffffff;
    font-size: inherit;
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    border: none;
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    cursor: pointer;
    padding: 8px 24px;
}

.subscribe-icon {
    margin-left: 16px;   
}

/*=====FOOTER TABLET=====*/
@media screen and (min-width: 768px) {
    .footer-container {
        width: 584px;
        gap: 72px 24px;
    }

    .footer-logo {
        text-align: left;
    }

    .footer-title {
        width: 264px;
    }

    .soc-media-title {
        text-align: left;
    }

    .subscribe-form {
        gap: 24px;
    }

    .subscribe-title {
        text-align: left;
    }
}

/*=====FOOTER DESKTOP=====*/
@media screen and (min-width: 1158px) {
    .footer-container {
        display: flex;
        align-items: baseline;
        width: auto;
        gap: 0;
    }

    .box-logo {
        margin-right: 120px;
    }
    
    .soc-media {
        margin-right: 80px;
    }

    .subscribe-form {
        flex-wrap: nowrap;
        gap: 24px;
    }
}
    
/*=====MODAL MOBILE====*/
backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    top: 24px;
    right: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
} 

.x-close-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .x-close-icon {
    fill: #ffffff;
}

.modal-close-btn:focus .x-close-icon {
    fill: #ffffff;
}

/*=====Contacts=====*/
.contacts-title {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.contacts-list {
    margin-bottom: 8px;
}

.contacts-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.contacts-input-wrap {
    position: relative;   
}

.contacts-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 34px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-input:focus {
    border-color: #4D5AE5;
}

.contacts-input:focus + .contacts-icon {
    fill: #4D5AE5;
}
 
.contacts-comment {
    margin-bottom: 16px;
}

.contacts-textarea {
    width: 100%;
    height: 120px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.40);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
    outline: transparent;
    resize: none;
}
    
.contacts-textarea:focus {
    border-color: #4D5AE5;
}

/*=====Contacts Checxbox=====*/
.contacts-checkbox {
    margin-bottom: 24px;
}

.contacts-check {
    margin-right: 8px;
}

.contacts-check-text {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.check-text {
    color: #4D5AE5;
    text-decoration: underline; 
}

.checkbox-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid  rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    fill: transparent;
    margin-right: 8px;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
    fill: #f4f4fd;
}

.contacts-check:checked + .contacts-check-text> .checkbox-span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.contacts-btn {
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*=====MODAL TABLET====*/
@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
    }
}

/*=====MODAL DESKTOP====*/
@media screen and (min-width: 1158px) {
    .contacts-input {
        padding-left: 38px;
    }
}

/*=====MOBILE MENU=====*/
@media screen and (max-width: 767px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999999999;
        opacity: 0;
        visibility: hidden;
        pointer-events: auto;
    } 
    
    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    
    .mobile-menu-container {
        position: relative;
        background-color: #FFF;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 72px;
        padding-bottom: 40px;
    }
    
    .mobile-menu-close-btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center; 
        top: 24px;
        right: 24px;
        background-color: #E7E9FC;
        border: none;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .mobile-menu-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .mobile-menu-link {
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }
    
    .mobile-menu-link.studio {
        color: #404BBF;
    }

    .mobile-menu-address {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 48px;
    }
   
    .mobile-address-link {
        color: #434455;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .mobile-address-link.tel{
        color: #404BBF;
    }
    
    .mobile-menu-media-list {
        display: flex;
        gap: 40px;
    }
    
    .mobile-menu-media-item {
        width: 40px;
        height: 40px;
    }
    
    .mobile-menu-media-link {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4D5AE5;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

